* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

/* ==TOPO==TOPO==TOPO==TOPO==TOPO==TOPO==TOPO==TOPO==TOPO== */

body {
    background-color: #F2F2F2;
}

header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 7.66vh;
    min-height: 4rem;
    background-color: #404EED;
}

.fixheader {
    height: 7.66vh;
    min-height: 4rem;
    background-color: transparent;
}

.topLogo {
    margin-left: 5.86vw;
    display: flex;
    position: fixed;
    align-items: center;
}
.logo {
    color: #FFFFFF;
    font-size: 2rem;
    font-family: 'New Rocker', cursive;
}

.icon img {
    width: 3.4rem;
    margin-right: .5rem;
}

/* ==MEIO==MEIO==MEIO==MEIO==MEIO==MEIO==MEIO==MEIO==MEIO== */

.content {
    max-width: 100vw;
}
h4, h5 {
    font-size: 1.3vw;
}
h4 {
    margin-bottom: 1rem;
}
h5 {

    margin-top: 1rem;
    text-align: center;
}
.margemtopo {
    margin-top: 1rem;
}
input {
    box-sizing: border-box;
    font-size: 1rem;
    color: #818181;
    background-color: #F2F2F2;
    border: none;
    border-radius: .4rem;
    text-decoration: none;
    padding-left: 1rem;
    width: 29.5vw;
    height: calc(2.5rem + 1vh);
    margin-bottom: 2rem;
}
.confirmarPedido {
    font-size: 1.35rem;
    color: #FFFFFF;
    background-color: #C4C4C4;
    border: none;
    text-decoration: none;
    text-align: center;
    width: 29.5vw;
    height: calc(2.5rem + 1vh);
    border-radius: .4rem;

}
.botaoValido {
    background-color: #404EED;
}
.form {
    height: ;
    background-color: #FFFFFF;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.formContent {
    width: 29.85vw;
}
.formContent img {
    width: 5vw;
}
.asset {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404EED;
    box-sizing: border-box;
    width: 50vw;
    padding: 2rem 2rem;
}

.asset img {
    width: calc(45vw);
    
}

.content {
    display: flex;
}
.tecido, .gola, .modelo {
    margin-bottom: 2rem;
}
.modelos, .golas, .tecidos {
    display: flex;
    justify-content: space-between;

}
.tshirt, .camiseta, .mangaLonga, .golaV, .golaRedonda, .golaPolo, .seda, .algodao, .poliester {
    background-color: #f2f2f2;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tecido1, .tecido2, .tecido3, .gola1, .gola2, .gola3, .modelo1, .modelo2, .modelo3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
}
.tecido img, .modelo img {
    width: 4vw;
}
.imgReferencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ==BOT==BOT==BOT==BOT==BOT==BOT==BOT==BOT==BOT==BOT==BOT== */

h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

strong {
    font-weight: bold;
}

.conteudoPedidos {
    margin: 2rem 0;
    margin-left: 10vw;
}
.pedidos {
    display: flex;
    max-width: 90vw;
    overflow: scroll;

}

.pedido {
    background-color: #FFFFFF;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 10vw;
    min-height: 10vw;
    padding-top: 2vh;
}
.pedido img {
    width: 6vw;
    max-height: 9vh;
    object-fit: contain;
}
.criador {
    text-align: center;
    margin: 1rem 0;
    max-height: 1rem;
    max-width: 10vw;
}


/* ==TRANSITIONS==TRANSITIONS==TRANSITIONS==TRANSITIONS==TRANSITIONS==TRANSITIONS== */

.selectedItem {
    box-sizing: border-box;
    border: .2rem solid #404EED;
}

@media (max-width: 1050px){
   .asset {
        display: none;
    } 

    .content {
        display: flex; 
        align-items: center;
        justify-content: center;
    }

    .form {
        width: 100vw;
        max-width: 670px;
    }

    .modelos, .golas, .tecidos {
        justify-content: space-around;
    }

    .modelo1, .modelo2, .modelo3, .gola1, .gola2, .gola3, .tecido1, .tecido2, .tecido3 {
        width: 19vw;
    }

    .tecidos img, .modelos img {
        width: 12vw;
        max-width: 95px;
    }

    .formContent, .imgReferencia {
        width: 90vw;
        max-width: 510px;
    }

    input {
        width: 75vw;
        max-width: 520px;
    }

    .confirmarPedido {
        width: 75vw;
        max-width: 520px;
    }

    h4, h5 {
        font-size: 1rem;
    }

    .golas img {
        width: 16vw;
        max-width: 120px;
    }

    .pedidos {
        flex-direction: column;
    }

    .conteudoPedidos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .pedido img {
        width: 30vw;
        max-height: 15vh;
    }

    .criador {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .pedido {
        margin-bottom: 2rem;
        margin-right: 0;
        max-width: 200px;
    }
    
    .type {
        width: 19vw;
        height: 19vw;
        max-width: 135px;
        max-height: 135px;
    }

    .imgReferencia {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

}

